html, body {
    font-family: 'Indie Flower', cursive;
    background: rgba(250,243,170,1);
    background: -moz-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,243,170,1)), color-stop(31%, rgba(255,208,158,1)), color-stop(68%, rgba(247,184,116,1)), color-stop(100%, rgba(207,203,214,1)));
    background: -webkit-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -o-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: linear-gradient(to right, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf3aa', endColorstr='#cfcbd6', GradientType=1 );
}


.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
}

.section {
    display: table;
    width: 100%;
    text-align: center;
/*    padding: 5%;*/
    box-sizing: border-box;
}
nav {
    display: block;
}

.center h1 {
    margin: 0px;
    padding: 0px;
    font-size: 80px;
    margin-top: 2%;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

h3 {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    font-size: 35px;
}


.left-corner {
    float: left;
    margin-left: 35px;
    margin-top: 18px;
}


.right-corner {
    float: right;
    margin-top: 20px;
    margin-right: 35px;
}


button {
    background-color: rgb(237, 212, 194);
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#the-button {
    margin: 5px auto;
    font-size: 2.5em;
    padding: 5px 26px;
}


#the-button2 {
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    border-color: black;
    padding: 9px 15px;

}

#the-button-about {
    font-size: 20px;
    border-color: black;
    padding: 9px 15px;
}

#the-button:hover, #the-button2:hover, #the-button-about:hover {
    background-color: rgb(232, 156, 102); 
    color: white;
}











