
html, body {
    background: rgba(250,243,170,1);
    background: -moz-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,243,170,1)), color-stop(31%, rgba(255,208,158,1)), color-stop(68%, rgba(247,184,116,1)), color-stop(100%, rgba(207,203,214,1)));
    background: -webkit-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -o-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    background: linear-gradient(to right, rgba(250,243,170,1) 0%, rgba(255,208,158,1) 31%, rgba(247,184,116,1) 68%, rgba(207,203,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf3aa', endColorstr='#cfcbd6', GradientType=1 );
    margin: 0;
    padding: 0;
}

.main-slider {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide img {
    width: 100%;
}

.carousel-nav {

}

.carousel{
    margin: 10px auto;
}

.nav-holder {
    width: 50%;
    margin: auto;
}

/*Dont have underline for links*/
a {
    text-decoration: none;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

/*The home button*/
.left-corner {
    float: left;
    margin-left: 35px;
    margin-top: 8px;
}

/*The About button*/
.right-corner {
    float: right;
    margin-top: 23px;
    margin-right: 35px;
}

/*Property for the About button*/
#the-button-about {
    background-color: rgb(237, 212, 194, 0.5);
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 20px;
    border-color: black;
    padding: 9px 15px;
    cursor: pointer;
}

/*Change background color when hovering over the About button and make the text white*/
#the-button-about:hover {
    background-color: rgb(232, 156, 102); 
    color: white;
}
